section {
    text-align: center;
}

h1 {
    color: green;
}
h2 {
    color: magenta;
}
/* Limitado a section para nao afetar o paragrafo do footer */
section p {
    color: white;
    background-color: black;
}
button {
    color: red;
    background-color: pink;
}